<h2 class="titulo">
  Pronóstico por Hora
  <span class="ubicacion">{{ ubicacion }}</span>
</h2>

<div *ngIf="datosClima.length === 0">
  Cargando clima...
</div>

<div class="contenedor" *ngIf="datosClima.length > 0">
<!--TARJETAS DE CLIMA -->
<div
  class="tarjeta"
  *ngFor="let clima of datosClima"
  [ngClass]="getColor(clima.temperatura)"
>

  <p class="icono">
    {{ getIcono(clima.codigo) }}
  </p>

  <p><strong>Fecha y Hora</strong></p>
  <p>{{ clima.hora | date:'short' }}</p>

  <p><strong>Temperatura</strong></p>
  <p>{{ clima.temperatura }} °C</p>

</div>

</div>