<h2 class="titulo">
  Pronóstico por Hora
  <span class="ubicacion">{{ ubicacion }}</span>
</h2>

<div *ngIf="datosClima.length === 0">
  Cargando clima...
</div>

<div class="contenedor" *ngIf="datosClima.length > 0">

<div
  class="tarjeta"
  *ngFor="let clima of datosClima"
  [ngClass]="getColor(clima.temperatura)"
>

  <strong>Fecha</strong>
  <p>{{ clima.hora | date:'shortDate' }}</p>

  <strong>Hora</strong>
  <p>{{ clima.hora | date:'shortTime' }}</p>

  <strong>Temperatura</strong>
  <p>{{ clima.temperatura }} °C</p>

</div>

</div>